body {
    overflow-x: hidden;
    position: relative;
}

html {
    overflow-x: hidden;
}

.nav-bar-container {
    position: fixed;
    top: 0px;
    z-index: 99;
    height: fit-content;
    width: 100vw;
}

.app-navbar {
    position: absolute;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-weight: bold;

}

a.navbar-brand {

    color: grey;
    font-size: x-Large;
    letter-spacing: 3px;
}

.navbar-nav {
    margin: auto;
    padding-right: 10rem;
}

.menu-link:hover {
    font-size: large;
}

.dropdown-item {
    cursor: pointer;
}

.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.movie-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 1.5rem;
    padding: 1.5rem;
    width: 40vh;
    height: 60vh;
    cursor: pointer;
}

.movie-card:hover {
    padding: 0px;
}


.top-trending {
    overflow-x: hidden;
    margin-top: 3.5rem;
    padding: 0px;
    width: 100%;
}

.top-trending-image-conatiner {
    background-color: white;
    border: 1px solid black;
    height: 40vh;
    width: 100vw;
    overflow: hidden;
}

.topbar-movie-image {
    object-fit: cover;
}

.trending-text {
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    margin-top: 1.5rem;
    padding: .5rem;
    color: grey;
    letter-spacing: .3rem;
    z-index: 4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.topbar-trending-title {
    color: white;
    position: absolute;
    font-size: large;
    font-weight: bold;
    top: 12rem;
    width: 100%;
    margin-left: 1rem;
    z-index: 4;
}

.topbar-trending-rank {
    color: yellow;
    position: absolute;
    font-size: large;
    font-weight: bold;
    top: 10rem;
    width: 99%;
    margin-left: 1rem;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.search-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.search-icon {
    font-size: xx-large;
    margin-right: 1rem;
    height: fit-content;
}

.searchBox {
    padding: 5px 10px;
    border: inset;

}

.single-movie-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: fit-content;
    width: 100vw;
    padding: 2rem;
    margin-top: 3rem;


}

.back-button-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-self: center;



}

.back-button {
    font-size: 3rem;
    cursor: pointer;

}
.back-button:hover {
    color: grey;

}

.single-movie-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 80vh;
    width: 60vw;
    margin: auto;
}

.single-movie-image-container {
    align-self: center;
    cursor: pointer;
}

.single-movie-image {
    width: 30vw;
    height: 80vh;

    padding: 1.5rem;
}

.single-movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 100%;
    width: 100%;

    align-self: center;

}

.single-movie-title {
    color: black;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    padding: .5rem;
}

.single-movie-release-date {
    font-weight: 100;
}

.single-movie-genre-container {
    align-self: center;
    color: darkred;
    font-size: large;
    font-weight: 500;
}

.single-movie-popularity {
    align-self: center;
}

.single-movie-rating {
    align-self: center;
}

.popularity-number,
.rating-detail {
    font-family: monospace;
    text-decoration: dotted;
}

.single-movie-rating::before {
    content: "⭐";
    font-size: xx-large;
}

.single-movie-overview {
    text-align: justify;
    font-size: large;
    padding: 1.5rem;
    font-weight: 500;
}

.fav-button {
    margin-right: auto;
    margin-left: auto;

}

.single-movie-runtime {
    font-weight: 400;
    font-size: medium;
}

.loading-text {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 20rem;
    font-size: x-large;
    font-weight: bolder;
    color: grey;
    letter-spacing: 1rem;

}

.footer-container {
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    width: 15rem;
    color: grey;
    align-content: center;
    align-items: center;

}

.instagram {
    font-size: xx-large;
    align-self: center;
}

.brand-name {
    width: 13rem;
}

.copyright {
    width: 8rem;

}

.brand-name,
.copyright {
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    color: grey;
}

@media only screen and (max-width: 1024px) {
    
    
    .single-movie-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        height: 100vh;
        width: 100vw;
        padding-top: 1rem;
        cursor: pointer;
    }

    .single-movie-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        height: 180vh;
        width: 90vw;
        background-color: white;

    }

    .single-movie-image {
        width: 90vw;
        height: 80vh;
        padding: 1rem;
        object-fit: cover;
    }

    .single-movie-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 100%;
        width: 100%;
        padding-bottom: 5rem;

        align-self: center;

    }

    .fav-button {

        margin-top: 1.5rem;

    }

    .single-movie-rating {
        align-self: center;

    }

    .trending-text {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .topbar-trending-title {
        color: white;
        position: absolute;
        font-size: small;
        font-weight: bold;
        top: 18rem;
        width: 100%;
        margin-left: 1rem;
    }

    .topbar-trending-rank {
        color: yellow;
        position: absolute;
        font-size: large;
        font-weight: bold;
        top: 16rem;
        width: 99%;
        margin-left: 1rem;
    }

    .search-container {
        background-color: white;
        display: flex;
        justify-content: center;
    }

    .back-button-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-self: center;
        position: fixed;
        left: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


    }

    /* .back-button-container {} */


    .footer-container {
        height: 3rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .social_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: x-large;
        width: 15rem;
        color: grey;
        align-content: center;
        align-items: center;

    }

    .instagram {
        font-size: xx-large;
        align-self: center;
    }

    .brand-name {
        width: 13rem;
    }

    .brand-name,
    .copyright {
        align-self: center;
        font-size: larger;
        font-weight: bolder;
        color: grey;
    }
    .dropdown-menu{
        height: 400px;
        overflow-y: scroll;
    }
   
   
}